<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a linkTo="/dashboard/home" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> Dashboard
        </a>

        <a linkTo="/dashboard/users" class="list-group-item" *ngIf="user?.hasRole('ROLE_ADMIN', 'ROLE_MANAGER')">
            <i class="fa fa-fw fa-users"></i> Users
        </a>

        <a linkTo="/dashboard/meals" class="list-group-item" *ngIf="user?.hasRole('ROLE_ADMIN', 'ROLE_USER')">
            <i class="fa fa-fw fa-cutlery"></i> Meals
        </a>
    </ul>
</nav>
