<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-xl-12">
      <h2 class="page-header">
        Users
      </h2>
      <ol class="breadcrumb">
        <li>
          <i class="fa fa-dashboard"></i> <a href="Javascript:void(0);" linkTo="/dashboard/home">Dashboard</a>
        </li>
        <li>
          <i class="fa fa-users"></i> <a href="javascript:;" linkTo="/dashboard/users">Users</a>
        </li>
        <li class="active">
          Edit user {{ id$ | async }}
        </li>
      </ol>
    </div>
  </div>

  <!-- /.row -->
  <div class="row" *ngIf="user">
    <div class="col-xl-6 col-lg-12">
      <form role="form" novalidate [ngFormModel]="form" (ngSubmit)="save(form)">
        <fieldset class="form-group required" >
          <label>Name</label>
          <input type="text" ngControl="fullName" [(ngModel)]="user.fullName" class="form-control">
        </fieldset>
        <fieldset class="form-group required" >
          <label>Email</label>
          <input type="email" ngControl="email" [(ngModel)]="user.email" class="form-control">
        </fieldset>
        <fieldset class="form-group" >
          <label>Password</label>
          <input type="password" ngControl="plainPassword" [(ngModel)]="user.plainPassword" class="form-control" style="width: 50%">
          <span class="small">(leave empty for no change)</span>
        </fieldset>

        <fieldset class="form-group required" >
          <label>Timezone</label>
          <input type="text" ngControl="userTimezone" [(ngModel)]="user.userTimezone" class="form-control" style="width: 33%">
        </fieldset>

        <fieldset class="form-group" >
          <label>Calories per Day</label>
          <input type="text" pattern="[0-9]*" ngControl="caloriesPerDay" [(ngModel)]="user.caloriesPerDay" class="form-control" style="width: 33%">
        </fieldset>

        <div *ngIf="loggedUser?.hasRole('ROLE_ADMIN', 'ROLE_MANAGER')">
          <div class="form-group" >
            <label>Is active?</label>
            <div class="radio">
              <label (click)="user.active = true">
                <input type="radio" name="active" [checked]="user.active"> Yes
              </label>
            </div>
            <div class="radio">
              <label (click)="user.active = false">
                <input type="radio" name="active" [checked]="!user.active"> No
              </label>
            </div>
          </div>

          <div class="form-group"  *ngIf="loggedUser?.hasRole('ROLE_ADMIN', 'ROLE_MANAGER')">
            <label>Roles</label>
            <div class="checkbox" *ngFor="let role of roles">
              <label>
                <input type="checkbox" [(ngModel)]="role.selected"> {{role.name}}
              </label>
            </div>
          </div>
        </div>
        <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Save</button>
        <button *ngIf="(id$ | async) !== 'new' && loggedIn.hasRole('ROLE_ADMIN', 'ROLE_MANAGER')" type="button" (click)="deleteModal.show()" class="btn btn-default">Remove</button>
      </form>
    </div>
  </div>
</div>
<bsModal #deleteModal class="modal fade" tabindex="-1" role="dialog" >
   <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        Confirm the removal of user "{{user?.fullName}}" by clicking below:
        <button type="button" (click)="delete()" class="btn btn-default">Yes, I confirm.</button>
        <button type="button" (click)="deleteModal.hide()" class="btn btn-default">No, forget about it.</button>
      </div>
    </div>
  </div>
</bsModal>
